* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
}

body {
    background: #1B0C03;
    background: linear-gradient(90deg, rgba(27, 12, 3, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    color: #FF6200;
    font-size: 20px;
    font-weight: 600;
}

.content-grid {
    display: grid;
    grid-template-rows: 1fr 2fr 6fr;
    row-gap: 30px;
}

.game-select-disclaimer {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    border: .5px solid #FF6200;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, .5);
}

.game-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 75%;
    height: 10em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
}

.game-selector::-webkit-scrollbar {
    display: none;
}

.game-tab {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 400px;
    height: 100px;
    color: white;
    border: .5px solid #474747;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.game-tab:hover {
    border: .5px solid #FF6200;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 15px;
}

.game-vs {
    color: #FF6200;
    font-weight: 300;
    text-align: center;
}

.home-logo,
.away-logo {
    height: 45%;
    width: auto;
    margin: 10px;
}

.stats-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    column-gap: 20px;
}

.home-team-name,
.away-team-name {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 10px;
}

.home-team-name {
    justify-content: flex-start;
}

.away-team-name {
    justify-content: flex-end;
}

.team-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.player-tab {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 10px;
    gap: 45px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border: .5px solid #474747;
    border-radius: 10px;
}

.player-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 400;
    font-size: 12px;
}

.player-name,
.player-name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.stat-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.player-fpts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 100;
}

.stat-label {
    font-weight: 100;
    font-size: 12px;
}

.js-stat {
    font-weight: 400;
    font-size: 12px;
}

@media (max-width: 1500px) {
    .player-tab {
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
    }

    .player-stats {
        display: none;
    }

    .player-fpts {
        justify-content: space-around;
    }
}

@media (max-width: 856px) {
    .stats-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
}



/* EFFECTS */
.game-selector {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 40px,
    black calc(100% - 40px),
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 40px,
    black calc(100% - 40px),
    transparent
  );
}